
.btn-sm {
  padding: var(--button-small-padding-y) var(--button-small-padding-x);
}

.btn-md {
  padding: var(--button-big-padding-y) var(--button-big-padding-x);
}

:root {
  --button-small-padding-y: .25rem;
  --button-small-padding-x: .5rem;
  --button-big-padding-y: 1rem;
  --button-big-padding-x: 1.25rem;
}
