
.bgl1 { background-color: var(--lighten-1) }
.bgl2 { background-color: var(--lighten-2) }
.bgl3 { background-color: var(--lighten-3) }
.bgl4 { background-color: var(--lighten-4) }

:root {
  --lighten-1: rgba(255, 255, 255, .0625);
  --lighten-2: rgba(255, 255, 255, .125);
  --lighten-3: rgba(255, 255, 255, .25);
  --lighten-4: rgba(255, 255, 255, .5);
}
