
::-webkit-scrollbar {
  -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
  width: 16px
}

::-webkit-scrollbar:horizontal {
  height: 16px
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid transparent
}

::-webkit-scrollbar-track:hover {
  /*background: #f9f9f9;
  border-color: #e1e1e1*/
}

::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 1px
}

::-webkit-scrollbar-track:vertical:corner-present {
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 2px
}

::-webkit-scrollbar-track:horizontal {
  border-width: 1px 1px 0 1px;
  border-radius: 2px 2px 0 0
}

::-webkit-scrollbar-thumb {
  min-height: 2rem;
  background: #ccc;
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background-color: #999;
  border-width: 5px
}
