
.f { display: flex }

@media (--breakpoint-sm) {
  .sm-f { display: flex }
}

@media (--breakpoint-md) {
  .md-f { display: flex }
}

@media (--breakpoint-lg) {
  .lg-f { display: flex }
}

.fc { flex-direction: column }
.fw { flex-wrap: wrap }

.fis { align-items: flex-start }
.fie { align-items: flex-end }
.fic { align-items: center }
.fib { align-items: baseline }
.fis { align-items: stretch }

.fss { align-self: flex-start }
.fse { align-self: flex-end }
.fsc { align-self: center }
.fsb { align-self: baseline }
.fss { align-self: stretch }

.fjs { justify-content: flex-start }
.fje { justify-content: flex-end }
.fjc { justify-content: center }
.fjb { justify-content: space-between }
.fja { justify-content: space-around }

.fcs { align-content: flex-start }
.fce { align-content: flex-end }
.fcc { align-content: center }
.fcb { align-content: space-between }
.fca { align-content: space-around }
.fcs { align-content: stretch }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.fa {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}
.fn { flex: none }

.fo0 { order: 0 }
.fo1 { order: 1 }
.fo2 { order: 2 }
.fo3 { order: 3 }
.fol { order: 99999 }
