
.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }

.ofh  { overflow: hidden }
.ofs  { overflow: scroll }
.ofa  { overflow: auto }
.ofxh { overflow-x: hidden }
.ofyh { overflow-y: hidden }
.ofxs { overflow-x: scroll }
.ofys { overflow-y: scroll }
.ofxa { overflow-x: auto }
.ofya { overflow-y: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.w100 { width: 100% }
.h100 { height: 100% }

.mw1 { max-width: var(--width-1) }
.mw2 { max-width: var(--width-2) }
.mw3 { max-width: var(--width-3) }
.mw4 { max-width: var(--width-4) }

.border-box { box-sizing: border-box }

:root {
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;
}
