
.di  { display: inline }
.db  { display: block }
.dib { display: inline-block }
.dt  { display: table }
.dtc { display: table-cell }

.fl { float: left }
.fr { float: right }

.ofh  { overflow: hidden }
.ofs  { overflow: scroll }
.ofa  { overflow: auto }
.ofxh { overflow-x: hidden }
.ofyh { overflow-y: hidden }
.ofxs { overflow-x: scroll }
.ofys { overflow-y: scroll }
.ofxa { overflow-x: auto }
.ofya { overflow-y: auto }

.ofcw { min-width: min-content }
.ofch { min-height: min-content }

.cf:before, .cf:after { content: " "; display: table }
.cf:after { clear: both }

.w100 { width: 100% }
.h100 { height: 100% }

.mw1 { width: var(--width-1) }
.mw2 { width: var(--width-2) }
.mw3 { width: var(--width-3) }
.mw4 { width: var(--width-4) }
.mw5 { width: var(--width-5) }

:root {
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;
  --width-5: 80rem;
}
