
h1, .h1 { font-size: var(--h1) }
h2, .h2 { font-size: var(--h2) }
h3, .h3 { font-size: var(--h3) }
h4, .h4 { font-size: var(--h4) }
h5, .h5 { font-size: var(--h5) }
h6, .h6 { font-size: var(--h6) }

.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.tj { text-align: justify }

.tb { font-weight: bold }
.tn { font-weight: normal }
.ti { font-style: italic }
.tc { text-transform: uppercase; letter-spacing: var(--caps-letter-spacing); }
.tu { text-decoration: underline }
.ts { text-decoration: line-through }

.ffi { font-family: inherit }
.fsi { font-size: inherit }
.tdn { text-decoration: none }

.fs8  { font-size: 8px }
.fs10 { font-size: 10px }
.fs12 { font-size: 12px }
.fs14 { font-size: 14px }
.fs16 { font-size: 16px }
.fs18 { font-size: 18px }
.fs20 { font-size: 20px }
.fs24 { font-size: 24px }
.fs28 { font-size: 28px }
.fs32 { font-size: 32px }
.fs36 { font-size: 36px }
.fs48 { font-size: 48px }
.fs64 { font-size: 64px }

.fw1 { font-weight: 100 }
.fw2 { font-weight: 200 }
.fw3 { font-weight: 300 }
.fw4 { font-weight: 400 }
.fw5 { font-weight: 500 }
.fw6 { font-weight: 600 }
.fw7 { font-weight: 700 }
.fw8 { font-weight: 800 }
.fw9 { font-weight: 900 }

.lh1 { line-height: var(--line-height-1) }
.lh2 { line-height: var(--line-height-2) }
.lh3 { line-height: var(--line-height-3) }
.lh4 { line-height: var(--line-height-4) }

.lsn { list-style: none }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.trunc {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --caps-letter-spacing: -0.1em;
}
